<h1>Details of task - <em><%= @task.title %></em></h1>

<p>Description: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete task",
  destroy_task_path(@task.id),
  data: {turbo_method: :delete,turbo_confirm: "Are you sure?"}
  %>
<%= link_to "Back to all tasks", tasks_path %>
